.marvel-paginator {
  font-weight: 400;
  font-size: 14px;
  display: flex;
  flex-grow: 1;

  @media screen and (min-width: 1280px) and (max-width: 5000px) {
    flex-direction: row;
    place-content: center flex-end;

    &__action-container {
      place-content: center space-between;
      flex-grow: 1;
      margin-right: 8px;
    }

    &__page-description {
      height: 100%;
      max-height: 100%;
    }
  }

  @media screen and (max-width: 1279px) {
    flex-direction: column;
    place-content: center center;

    &__action-container {
      place-content: center space-between;
      margin-bottom: 8px;
    }
  }

  &__action-container {
    display: flex;
    flex-direction: row;
  }

  &__page-description {
    display: flex;
    flex-direction: column;
    place-content: center center;
  }
}
