.marvel-button {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.01);
  }

  &:focus {
    outline: none;
  }

  &--disabled {
    cursor: none;
    background-color: rgba(0, 0, 0, 0.01);
    opacity: 0.7;
    border: 1px dashed gray;
    pointer-events: none;
  }
}
