.marvel-comic-details {
  display: flex;
  place-content: start center;

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 65%;
  }

  &__comic-header {
    display: flex;
    flex-direction: row;

    &--subtitle {
      font-size: 14px;
    }
  }

  &__comic-staff {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    flex-wrap: wrap;
  }

  &__role {
    font-weight: 600;
  }

  &__comic-characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
    margin-top: 12px;
  }

  .marvel-comic-details__comic-staff > .marvel-comic-details__staff-group:not(:last-child) {
    margin-right: 5%;
  }
}
